<div class="container-fluid app-container">
    <div class="row">
        <div class="col">
            <app-header></app-header>
        </div>
    </div>
    <div class="row g-5">
        <div class="col-4">
            <div class="card shadow-smrounded-3 bg-light">
                <div class="card-body">
                    <h5 class="card-title">Maps</h5>
                    <p class="card-text">We've integrated the TomTom service into our app with fully customizable capability. Check out our examples here!</p>
                    <a class="btn btn-primary" routerLink="/maps" routerLinkActive="active">Live Example</a>
                  </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow-smrounded-3 bg-light">
                <div class="card-body">
                    <h5 class="card-title">Weather</h5>
                    <p class="card-text">We've integrated the TomTom service into our app with fully customizable capability. Check out our examples here!</p>
                    <a class="btn btn-primary" routerLink="/maps" routerLinkActive="active">Live Example</a>
                  </div>
            </div>
        </div>
    </div>
</div>